.m-2 {
  margin: 0.5rem;
}

.p-panel-title {
  width: 100%;
  order: initial;
}

.button-container {
  display: flex;
  flex-direction: column;

  p-button {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  @media screen and (min-width: 767px) {
    p-button {
      width: auto;
      margin-right: 1rem;

      &:not(:last-child) {
        margin-bottom: 0;
      }
    }

    flex-direction: row;
    justify-content: flex-start;
  }
}

:host::ng-deep {
  .location-card {
    border: none;
    border-radius: 0;
    margin-bottom: 1.25rem;

    .p-card-body {
      padding: 1rem;
    }

    .p-card-content {
      padding: 0;
      h5 {
        margin: 0;
      }
    }

    p-button > .p-button {
      width: 100%;
    }

    @media screen and (min-width: 767px) {
      p-button > .p-button {
        width: auto;
      }
    }
  }
}
