@for (episode of episodeData()?.results; track $index) {
<p-panel header="Rick & Morty Episodes" [style]="{ 'margin-bottom': '1rem' }">
  <p-card
    [header]="episode.episode"
    [subheader]="'Aired on: ' + episode.air_date || 'Unkwnown'"
  >
    @if (characterData() && characterData()[episode.url]) {
    <p-carousel
      [value]="characterData()[episode.url]"
      [numVisible]="10"
      [numScroll]="5"
      [circular]="true"
      [responsiveOptions]="responsiveOptions"
    >
      <ng-template let-character pTemplate="item">
        <div class="m-2">
          <p-card>
            <ng-template pTemplate="header">
              <div style="width: 100%; text-align: center">
                <img
                  style="display: block"
                  alt="Card"
                  lazy="true"
                  [src]="character.image"
                />
              </div>
            </ng-template>
            <ng-template pTemplate="content">
              <h5 style="margin: 0">{{ character.name }}</h5>
            </ng-template>
          </p-card>
        </div>
      </ng-template>
    </p-carousel>
    }

    <p-button
      label="Show Characters"
      (onClick)="showEpisodeCharacters(episode.url, episode.characters)"
    />
  </p-card>
</p-panel>
}
