<main class="main-container">
  <header class="logo">
    <img class="rm-logo" src="assets/rick-morty-logo.svg" alt="Rick&Morty" />
  </header>
  <nav class="buttons-container">
    <p-button
      [style]="{ width: '100%' }"
      label="Show Characters"
      (onClick)="showCharactersPanel()" />
    <p-button
      [style]="{ width: '100%' }"
      label="Show Episodes"
      (onClick)="showEpisodesPanel()" />
    <p-button
      [style]="{ width: '100%' }"
      label="Show Locations"
      (onClick)="showLocationsPanel()" />
  </nav>
  <section id="dynamic-container" class="widget-container">
    <ng-container *ngComponentOutlet="componentTypeExpression"></ng-container>
  </section>
  <footer class="credits">
    <p>
      Built using the <a href="https://rickandmortyapi.com">Rick & Morty API</a>
    </p>
  </footer>
</main>
