<main class="main-container">
  <header class="logo">
    <img class="rm-logo" src="assets/rick-morty-logo.svg" alt="Rick&Morty" />
  </header>
  <nav class="buttons-container">
    <p-button
      [style]="{ width: '100%' }"
      label="Show Characters"
      (onClick)="showCharactersPanel()"
    />
    <p-button [style]="{ width: '100%' }" label="Show Locations" />
    <p-button [style]="{ width: '100%' }" label="Show Episodes" />
  </nav>
  <section id="dynamic-container" class="widget-container"></section>
</main>
