<p-panel>
  <ng-template pTemplate="header">
    <p class="p-panel-title">Rick & Morty Characters</p>
  </ng-template>
  <p-carousel
    [value]="characterData()?.results || []"
    [numVisible]="4"
    [numScroll]="4"
    [circular]="false"
    [responsiveOptions]="responsiveOptions">
    <ng-template let-character pTemplate="item">
      <div class="m-2">
        <p-card
          [header]="character.name"
          [subheader]="'Status: ' + character.status || 'Unknown'">
          <ng-template pTemplate="header">
            <img alt="Card" lazy="true" [src]="character.image" />
          </ng-template>
          <p>
            <span style="font-weight: 700">Species:</span>
            {{ character.species || 'Unknown' }}
          </p>
          <p>
            <span style="font-weight: 700">Gender:</span>
            {{ character.gender || 'Unknown' }}
          </p>
          <p>
            <span style="font-weight: 700">Origin:</span>
            {{ character.origin?.name || 'Unknown' }}
          </p>
          <p>
            <span style="font-weight: 700">Location:</span>
            {{ character.location?.name || 'Unknown' }}
          </p>
        </p-card>
      </div>
    </ng-template>
  </p-carousel>
</p-panel>
